<h1>This is one bottle:</h1>

<p>Item: <%= @one_bottle.name %></p>
<p>Price: <%= @one_bottle.price %></p>
<p>Image: <img src = "<%= @one_bottle.image %>"></p>
<p>Description: <%= @one_bottle.description %></p>