<h1>Water Bottle Store!</h1>

<h2><a href="/display_all">All products</a></h2>
<h3><a href="/display_product">Browse products one at a time</a></h3>
<h4><a href="/display_one">Just look at one of the bottles.</a></h4>